
------------- JUST USE THE PP SOCS THROUGH THIS METHOD

SELECT [PPLAN_GROUP_DESC]
,[PPLAN_GROUP_CD]
      ,[SOC]
  FROM [STAGE].[dbo].[STG_PRICE_PLAN_GROUP]
  where PPLAN_GROUP_DESC LIKE '%employee%'










--SELECT *
--  FROM [STAGE].[dbo].[STG_PRICE_PLAN_GROUP]
--  where SOC LIKE '%DMRMM%'

------- GET ALL PP SOCS ON TWO PPLAN_GROUP_CD S

--SELECT 
--A.SUBSCRIBER_NO, 
--A.BAN,
--A.EFFECTIVE_DATE, 
--A.EXPIRATION_DATE,
--A.SOC
--INTO #employee
--FROM STAGE.dbo.STG_SUBSCRIBER_PRICE_PLAN A
--	WHERE (A.EXPIRATION_DATE IS NULL OR A.EXPIRATION_DATE > GETDATE())
--	AND A.EFFECTIVE_DATE <= GETDATE()
--	AND A.PRODUCT_TYPE = 'C'
--	AND A.SOC in ('DMRMM2500','DMFMM0200','DMRMM4200','DMFMM0201','DMRMM2501','DMFMM0202','DMRMM2502','DMFMM0203','170A')

	
	
--	SELECT DISTINCT BAN, SUBSCRIBER_NO 
--	INTO #employee_2
--	FROM  #employee



--SELECT COUNT(DISTINCT(CAST(a.BAN AS VARCHAR(20))+ a.SUBSCRIBER_NO))
--FROM ##ROGERSLIVEBASE A ------------------------ ROGERS LIVE SOC BASE 
--INNER JOIN #employee_2 B
--ON A.BAN=B.BAN
--AND A.SUBSCRIBER_NO=B.SUBSCRIBER_NO

------ ANSWER :  181





------ ALL NON-REVENUE SOCS 

--  SELECT SOC into ##NON_REV_SOCS
--  FROM [STAGE].[dbo].[STG_PRICE_PLAN_GROUP]
--  WHERE [PPLAN_SERIES_TYPE] = 2
--  order by soc

--SELECT 
--A.SUBSCRIBER_NO, 
--A.BAN,
--A.EFFECTIVE_DATE, 
--A.EXPIRATION_DATE,
--A.SOC
--INTO #NON_REV_SUBS
--FROM STAGE.dbo.STG_SUBSCRIBER_PRICE_PLAN A
--INNER JOIN ##NON_REV_SOCS B
--ON A.SOC=B.SOC
--	WHERE (A.EXPIRATION_DATE IS NULL OR A.EXPIRATION_DATE > GETDATE())
--	AND A.EFFECTIVE_DATE <= GETDATE()
--	AND A.PRODUCT_TYPE = 'C'


--select a.* from STAGE.dbo.STG_SOC a
--join ##NON_REV_SOCS b
--on a.SOC=b.soc
	
	
--	SELECT DISTINCT BAN, SUBSCRIBER_NO 
--	INTO #FILTER_NON_REV_SUBS
--	FROM  #NON_REV_SUBS



--SELECT COUNT(DISTINCT(CAST(a.BAN AS VARCHAR(20))+ a.SUBSCRIBER_NO))
--FROM ##ROGERSLIVEBASE A ------------------------ ROGERS LIVE SOC BASE 
--INNER JOIN #FILTER_NON_REV_SUBS B
--ON A.BAN=B.BAN
--AND A.SUBSCRIBER_NO=B.SUBSCRIBER_NO


---- ANSWER: 315






--SELECT COMPANY_CODE INTO ##DEMO_COMPANY_CODES
--  FROM [STAGE].[dbo].[STG_COMPANY]
--  WHERE COMPANY_NAME LIKE '%DEMO LINE%'

--DROP TABLE #DEMO_LINES

--SELECT [CUSTOMER_BAN]
--      ,[SUBSCRIBER_NO]
--      ,EFFECTIVE_DATE
--      ,EXPIRATION_DATE
--      ,COMPANY_CODE
--      INTO #DEMO_LINES
--      FROM [STAGE].[dbo].[STG_SUBSCRIBER] A
--      INNER JOIN ##DEMO_COMPANY_CODES B
--      ON A.COMPANY_CODE=B.COMPANY_CODE
      
      
--SELECT DISTINCT CUSTOMER_BAN, SUBSCRIBER_NO
--INTO #DEMO_LINES_3
--FROM #DEMO_LINES

--SELECT COUNT(*)
--FROM #DEMO_LINES_3
